body {
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
    font-family: 'Varela', sans-serif;
  }
#map {
    height: 400px;
    width: 100%;
}
.row {
    margin-bottom: 0;
}
header .brand-logo{
    font-family: 'Amita', cursive;
    font-size:3.1rem;
    padding-left:10px;
    line-height:4.1rem;
}
#headerSearch .input-field{
    border-bottom: white;
}
.nav-wrapper {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
#modalLoginBtn {
    color: white;
}
input#city{
    border-bottom: white 1px solid;
}
input#restaurant{
    border-bottom: white 1px solid;
}
.select-wrapper input.select-dropdown {
    color: white;
    border-bottom: white 1px solid;
}
#txtEmailLogin, #txtPasswordLogin  { font-size:0.5rem;
    border-bottom: white 1px solid;
    color: white;   
}


#modalLogin, #modalTabs, #modalNotes {
    border-bottom: white 1px solid;
    color: white;
    background-color: #aed581;
}
#txtEmail, #txtPassword, #txtName  { 
    background-color:#aed581;
    font-size:1rem;
    border-bottom: white 1px solid;
    color: white;   
}
.modal-footer {
    color: white;
    background-color: #66bb6a;
}
#hiUser{ 
    padding:4px;
    font-size:1.1rem;
    text-align: center;
}

.searchDiv{
    margin-top:20px;
}

div#photo.row{
    background-color: #7DB249;
    max-width: 287px;
}
#restaurant-photo {
    width: 287px;
    height: 253px;
}
.restaurantImage{
    max-width: 287px;
}
div#listingDetails.row{
    min-height:150px;
    background-color: #8bc34a;
    color: white;
    text-align: center;
}
#restaurants-big{
    min-height:50px;
    font-size: 1.5em;
}
div#notes.row{
    min-height:150px;
    background-color: #689f38;
    border-top:1px solid grey;
}

#modalBtnTab {
    font-size: 1.5em;
    color: #f2453d;
}
.tabs{
    background-color:#aed581;
}
.tabs .tab a{
    font-size:10px;
}
.tabs :hover{
    background-color:#9ccc66;
}
#modalBtnNotes{
    margin-top: -25px;
}
#topLoginBlock {
    width: 300px;
}

