body {    
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/    
    font-family: 'Varela', sans-serif;  
}

#map {    
    height: 400px;    width: 100%;
}

.row {    
    margin-bottom: 0;
}

header .brand-logo{    font-family: 'Amita', cursive;    font-size:3.1rem;    /*padding-top: 10px;*/    padding-left:10px;    line-height:4.1rem;}

#headerSearch .input-field{    border-bottom: white;}

.nav-wrapper {    margin-left: -.75rem;    margin-right: -.75rem;}

input#city{    border-bottom: white 1px solid;}

input#restaurant{    border-bottom: white 1px solid;}

.select-wrapper input.select-dropdown {    color: white;    border-bottom: white 1px solid;}

#txtEmailLogin, #txtPasswordLogin  { font-size:0.5rem;    border-bottom: white 1px solid;    color: white;   }

#txtForgotEmail, #pwForm {    border-bottom: white 1px solid;    color: white; }

#modal1, #modal2, #modalTabs {    color: white;     background-color: #aed581;}

.modal-footer{    color: #66bb6a;}

#txtForgotEmail {    color: white;}

#modalBtn {font-size:.7rem;}

#modalBtn2 {font-size:.7rem;}

p#hiUser{ padding-top:20px;    font-size:1.1rem;}

.waves-effect.waves-blue{    /* The alpha value allows the text and background color    of the button to still show through. */     background-color: rgba(59, 38, 175, 0.65);
}

.cuisineOptionBox{    font-size:16px;    color:#26a69a;    display:block;    line-height:22px;    padding:14px 16px;}

.searchDiv{    
    margin-top:20px;}/* label {    color: black;} */
    
#zomatoAPI{    
    /* padding-left:25px; */    
    /*text-align: center;*/}

div#photo.row{    /* min-height:150px; */    background-color: #7DB249;    max-width: 287px;}#restaurant-photo {    width: 287px;    height: 253px;}.restaurantImage{    max-width: 287px;}div#listingDetails.row{    min-height:150px;    background-color: #AFD485;}#restaurants-big{    min-height:50px;    font-size: 1.5em;}div#notes.row{    min-height:150px;    background-color: #7db249;}#restaurant-info{    }#modalBtnTab {    font-size: 1.5em;    color: #f2453d;}.tabs{    background-color:#aed581;}.tabs .tab a{    font-size:10px;}.tabs :hover{    background-color:#9ccc66;}#modalBtnNotes{    margin-top: -25px;}#btnLogin, #btnLogOut {
 margin-top: 16px;    color: white;    font-size:10px;}
